.container{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}
.forms{
  display: block;
  padding: 5vh;
  width:50vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 0 1px rgb(230, 238, 245);
}

label, input {
  display: block;
  width: 100%;
}

button{
  padding:0.5rem;
  border-radius: 9999px;
  border: none;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
}

button:hover{
  cursor: pointer;
  opacity:0.8;
}

.button-div{
  display:flex;
  justify-content: center;
  width:100%;
}

input{
  padding:0.5rem;
  border: none;
  border-bottom: 1px solid rgb(153, 153, 153);
  margin-bottom: 1rem;
}
.menu{
  border-right: 2px solid rgb(241, 241, 241);
  box-sizing: border-box;
  height: 100vh;
  width:20%;
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.main{
  box-sizing: border-box;
  height: 100vh;
  width:80%;
  padding: 20px;
  position: relative;
}

.account{
  border-radius: 30px;
  background-color: aliceblue;
  padding:10px;
  margin-bottom: 10px;
}

.logo{
  
  height:15vh;
}

ul{
  list-style: none;
  margin:0;
  padding:0;
  width:100%;
  text-decoration: none;
}

li{
  padding: 10px;
  position: relative;
  left:0;
  margin:0;
  text-decoration: none;
  list-style: none;
}

li:hover{
  background-color:rgb(241, 241, 241);
}

.amount{
  border-radius: 30px;
  background-color: aliceblue;
  padding:10px;
  margin-top: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.amountInput{
  border-radius: 5px;
  border: 2px solid rgb(153, 153, 153);
  width:100%;
  margin: 0;
}

.success{
  border: 5px solid black;
  border-radius: 5px;
  padding: 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width:50vh;
  height: 50vw;
  color: green;
}


.card{
  border: 1px black solid;
  border-radius: 10px;
  height: 30vh;
  margin-top:25px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:70vh;
}

.details{
  padding: 10px;
  padding-top: 20px;
  box-sizing: border-box;
  height:20vh;
}